{{>readme_title}}
{{>readme_content}}
{{>readme_install}}
{{>readme_usage}}
### Clients methods

Method name |Parameters| Description
------------|----------|------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}`{{operationId}}` | {{#allParams}}- `${{paramName}}`{{#required}} (required) {{/required}}{{#hasMore}}<br /> {{/hasMore}}{{/allParams}} | {{#summary}}{{.}}{{/summary}}{{#externalDocs}}<br />[Endpoint Documentation]({{url}}){{/externalDocs}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{>readme_dev}}
{{>readme_faq}}
{{>readme_contrib}}
{{>readme_licence}}
